.container {
    padding: 2rem;
    display: grid; 
    grid-template-columns: 300px minmax(500px, 1fr); 
    grid-auto-rows: auto; 
    gap: 30px ; 
    grid-template-areas:
      "logo info"
      ". produse"; 
}
.logo {  
grid-area: logo;
background-color: burlywood;
height: 100px;
}
.meniu { 
// grid-area: meniu; 
position: -webkit-sticky;
position: sticky;
top: 10%;
background-color: lightsalmon;
height: 500px;
}

.info {
    grid-area: info;
}

.info--inner { 
background-color: sandybrown;
height: 100px;
}

.produse {
    grid-area: produse;
    display: flex;
    justify-content: center;
}

.produse--inner{ 
padding: 20px;
display: flex;
flex-wrap: wrap;
max-width: 1370px;
background-color: coral;
justify-content: center;
gap: 40px;
}

.card {
    height: 400px;
    width: 300px;
    background-color: brown;
}